{
  // for using jest in test mode
  "env": {
    "dev": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  },
  "plugins": [
  	["import", [
      { "libraryName": "antd", "style": false },
      { "libraryName": "lodash", "libraryDirectory": "", "camel2DashComponentName": false },
      { "libraryName": "ramda", "libraryDirectory": "src", "camel2DashComponentName": false }
    ]],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    ["module-resolver", { "alias": { "asuna-admin": "." } }]
  ]
}
