{
  "env": {},
  "extends": [
    "alloy",
    //    "alloy/react",
    "alloy/typescript",
    //    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  //  "parser": "@typescript-eslint/parser",
  "settings": {},
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/unified-signatures": "off",
    "@typescript-eslint/prefer-namespace-keyword": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/prefer-function-type": "off",
    "@typescript-eslint/method-signature-style": "off",
    "@typescript-eslint/typedef": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/adjacent-overload-signatures": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-invalid-void-type": "off",
    "no-return-assign": "off",
    "no-empty-pattern": "off",
    "spaced-comment": "off",
    "prefer-arrow-callback": "off",
    "no-dupe-class-members": "off",
    "prefer-promise-reject-errors": "off",
    "no-redeclare": "off",
    "grouped-accessor-pairs": "off",
    "max-params": "warn",
    "max-depth": "warn",
    "no-unused-vars": "warn",
    "no-undef": "off",
    "import/namespace": "off",
    "import/no-cycle": "error"
  }
}
