{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
//      "asuna-admin": {}
    },
    "import/ignore": [
      "asuna-admin.*"
    ]
  },
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": ["error", "never", { "packages": "always" }],
    "import/no-unresolved": "off",
    "function-paren-newline": ["error", "consistent"],
    "func-names": ["error", "never"],
    "key-spacing": 0,
    "arrow-parens": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [0, { "forbidDefaultForRequired": false }],
    "react/jsx-one-expression-per-line": 0,
    "no-multi-spaces": 0,
    "class-methods-use-this": 0,
    "object-curly-newline": [0],
    "react/prop-types": [2, {
      "ignore": [
        "dispatch", //
        "children", //
        "form"      // supported by Form.create()
      ]
    }]
  }
}
