# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.pnp.*

# testing
coverage

# build
.awcache

# sonar
.scannerwork

# misc
.DS_Store
.env*
!.env.example
*.log
static/libs
.asuna
.next

# project
examples/*
declaration
dist/
adapters/
components/
pages/
services/

.yarn/*
#!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.clinic/
